openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The YouTube Data API v3 is an API that provides access to YouTube data,
    such as videos, playlists, and channels.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: YouTube Data API v3
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://youtube.googleapis.com/$discovery/rest?version=v3
    version: v1
  x-providerName: googleapis.com
  x-serviceName: youtube
externalDocs:
  url: https://developers.google.com/youtube/
servers:
- url: https://youtube.googleapis.com/
tags:
- name: abuseReports
- name: activities
- name: captions
- name: channelBanners
- name: channels
- name: channelSections
- name: comments
- name: commentThreads
- name: i18nLanguages
- name: i18nRegions
- name: liveBroadcasts
- name: liveChatBans
- name: liveChatMessages
- name: liveChatModerators
- name: liveStreams
- name: members
- name: membershipsLevels
- name: playlistItems
- name: playlists
- name: search
- name: subscriptions
- name: superChatEvents
- name: tests
- name: thirdPartyLinks
- name: thumbnails
- name: videoAbuseReportReasons
- name: videoCategories
- name: videos
- name: watermarks
paths:
  /youtube/v3/commentThreads:
    get:
      description: Retrieves a list of resources, possibly filtered.
      operationId: youtube.commentThreads.list
      parameters:
      - description: The *part* parameter specifies a comma-separated list of one
          or more commentThread resource properties that the API response will include.
        explode: true
        in: query
        name: part
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Returns the comment threads of all videos of the channel and
          the channel comments as well.
        explode: true
        in: query
        name: allThreadsRelatedToChannelId
        required: false
        schema:
          type: string
        style: form
      - description: Returns the comment threads for all the channel comments (ie
          does not include comments left on videos).
        explode: true
        in: query
        name: channelId
        required: false
        schema:
          type: string
        style: form
      - description: Returns the comment threads with the given IDs for Stubby or
          Apiary.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The *maxResults* parameter specifies the maximum number of items
          that should be returned in the result set.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 'Limits the returned comment threads to those with the specified
          moderation status. Not compatible with the ''id'' filter. Valid values:
          published, heldForReview, likelySpam.'
        explode: true
        in: query
        name: moderationStatus
        required: false
        schema:
          enum:
          - published
          - heldForReview
          - likelySpam
          - rejected
          type: string
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - orderUnspecified
          - time
          - relevance
          type: string
        style: form
      - description: The *pageToken* parameter identifies a specific page in the result
          set that should be returned. In an API response, the nextPageToken and prevPageToken
          properties identify other pages that could be retrieved.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Limits the returned comment threads to those matching the specified
          key words. Not compatible with the 'id' filter.
        explode: true
        in: query
        name: searchTerms
        required: false
        schema:
          type: string
        style: form
      - description: The requested text format for the returned comments.
        explode: true
        in: query
        name: textFormat
        required: false
        schema:
          enum:
          - textFormatUnspecified
          - html
          - plainText
          type: string
        style: form
      - description: Returns the comment threads of the specified video.
        explode: true
        in: query
        name: videoId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentThreadListResponse'
          description: Successful response
        "400":
          description: "400"
        "403":
          description: "403"
        "404":
          description: "404"
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/youtube.force-ssl
        Oauth2c:
        - https://www.googleapis.com/auth/youtube.force-ssl
      tags:
      - commentThreads
      x-dependencies:
      - OnlyOne(allThreadsRelatedToChannelId, channelId, id, videoId);
      - ZeroOrOne(id, maxResults);
      - ZeroOrOne(id, moderationStatus);
      - ZeroOrOne(id, order);
      - ZeroOrOne(id, pageToken);
      - ZeroOrOne(id, searchTerms);
  /youtube/v3/search:
    get:
      description: Retrieves a list of search resources
      operationId: youtube.search.list
      parameters:
      - description: The *part* parameter specifies a comma-separated list of one
          or more search resource properties that the API response will include. Set
          the parameter value to snippet.
        explode: true
        in: query
        name: part
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on resources belonging to this channelId.
        explode: true
        in: query
        name: channelId
        required: false
        schema:
          type: string
        style: form
      - description: Add a filter on the channel search.
        explode: true
        in: query
        name: channelType
        required: false
        schema:
          enum:
          - channelTypeUnspecified
          - any
          - show
          type: string
        style: form
      - description: Filter on the livestream status of the videos.
        explode: true
        in: query
        name: eventType
        required: false
        schema:
          enum:
          - none
          - upcoming
          - live
          - completed
          type: string
        style: form
      - description: Search owned by a content owner.
        explode: true
        in: query
        name: forContentOwner
        required: false
        schema:
          type: boolean
        style: form
      - description: Restrict the search to only retrieve videos uploaded using the
          project id of the authenticated user.
        explode: true
        in: query
        name: forDeveloper
        required: false
        schema:
          type: boolean
        style: form
      - description: Search for the private videos of the authenticated user.
        explode: true
        in: query
        name: forMine
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter on location of the video
        explode: true
        in: query
        name: location
        required: false
        schema:
          type: string
        style: form
      - description: Filter on distance from the location (specified above).
        explode: true
        in: query
        name: locationRadius
        required: false
        schema:
          type: string
        style: form
      - description: The *maxResults* parameter specifies the maximum number of items
          that should be returned in the result set.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50
          minimum: 0
          type: integer
        style: form
      - description: '*Note:* This parameter is intended exclusively for YouTube content
          partners. The *onBehalfOfContentOwner* parameter indicates that the request''s
          authorization credentials identify a YouTube CMS user who is acting on behalf
          of the content owner specified in the parameter value. This parameter is
          intended for YouTube content partners that own and manage many different
          YouTube channels. It allows content owners to authenticate once and get
          access to all their video and channel data, without having to provide authentication
          credentials for each individual channel. The CMS account that the user authenticates
          with must be linked to the specified YouTube content owner.'
        explode: true
        in: query
        name: onBehalfOfContentOwner
        required: false
        schema:
          type: string
        style: form
      - description: Sort order of the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - searchSortUnspecified
          - date
          - rating
          - viewCount
          - relevance
          - title
          - videoCount
          type: string
        style: form
      - description: The *pageToken* parameter identifies a specific page in the result
          set that should be returned. In an API response, the nextPageToken and prevPageToken
          properties identify other pages that could be retrieved.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Filter on resources published after this date.
        explode: true
        in: query
        name: publishedAfter
        required: false
        schema:
          type: string
        style: form
      - description: Filter on resources published before this date.
        explode: true
        in: query
        name: publishedBefore
        required: false
        schema:
          type: string
        style: form
      - description: Textual search terms to match.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Display the content as seen by viewers in this country.
        explode: true
        in: query
        name: regionCode
        required: false
        schema:
          type: string
        style: form
      - description: Search related to a resource.
        explode: true
        in: query
        name: relatedToVideoId
        required: false
        schema:
          type: string
        style: form
      - description: Return results relevant to this language.
        explode: true
        in: query
        name: relevanceLanguage
        required: false
        schema:
          type: string
        style: form
      - description: Indicates whether the search results should include restricted
          content as well as standard content.
        explode: true
        in: query
        name: safeSearch
        required: false
        schema:
          enum:
          - safeSearchSettingUnspecified
          - none
          - moderate
          - strict
          type: string
        style: form
      - description: Restrict results to a particular topic.
        explode: true
        in: query
        name: topicId
        required: false
        schema:
          type: string
        style: form
      - description: Restrict results to a particular set of resource types from One
          Platform.
        explode: true
        in: query
        name: type
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on the presence of captions on the videos.
        explode: true
        in: query
        name: videoCaption
        required: false
        schema:
          enum:
          - videoCaptionUnspecified
          - any
          - closedCaption
          - none
          type: string
        style: form
      - description: Filter on videos in a specific category.
        explode: true
        in: query
        name: videoCategoryId
        required: false
        schema:
          type: string
        style: form
      - description: Filter on the definition of the videos.
        explode: true
        in: query
        name: videoDefinition
        required: false
        schema:
          enum:
          - any
          - standard
          - high
          type: string
        style: form
      - description: Filter on 3d videos.
        explode: true
        in: query
        name: videoDimension
        required: false
        schema:
          enum:
          - any
          - 2d
          - 3d
          type: string
        style: form
      - description: Filter on the duration of the videos.
        explode: true
        in: query
        name: videoDuration
        required: false
        schema:
          enum:
          - videoDurationUnspecified
          - any
          - short
          - medium
          - long
          type: string
        style: form
      - description: Filter on embeddable videos.
        explode: true
        in: query
        name: videoEmbeddable
        required: false
        schema:
          enum:
          - videoEmbeddableUnspecified
          - any
          - "true"
          type: string
        style: form
      - description: Filter on the license of the videos.
        explode: true
        in: query
        name: videoLicense
        required: false
        schema:
          enum:
          - any
          - youtube
          - creativeCommon
          type: string
        style: form
      - description: Filter on syndicated videos.
        explode: true
        in: query
        name: videoSyndicated
        required: false
        schema:
          enum:
          - videoSyndicatedUnspecified
          - any
          - "true"
          type: string
        style: form
      - description: Filter on videos of a specific type.
        explode: true
        in: query
        name: videoType
        required: false
        schema:
          enum:
          - videoTypeUnspecified
          - any
          - movie
          - episode
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchListResponse'
          description: Successful response
        "400":
          description: "400"
        "403":
          description: "403"
        "404":
          description: "404"
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/youtube
        Oauth2c:
        - https://www.googleapis.com/auth/youtube
      - Oauth2:
        - https://www.googleapis.com/auth/youtube.force-ssl
        Oauth2c:
        - https://www.googleapis.com/auth/youtube.force-ssl
      - Oauth2:
        - https://www.googleapis.com/auth/youtube.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/youtube.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/youtubepartner
        Oauth2c:
        - https://www.googleapis.com/auth/youtubepartner
      tags:
      - search
      x-dependencies:
      - ZeroOrOne(forContentOwner, forDeveloper, forMine, relatedToVideoId);
      - IF forContentOwner==true THEN onBehalfOfContentOwner AND type=='video' AND
        NOT (videoDefinition OR videoDimension OR videoDuration OR videoLicense OR
        videoEmbeddable OR videoSyndicated OR videoType);
      - IF forMine==true THEN type=='video' AND NOT (videoDefinition OR videoDimension
        OR videoDuration OR videoLicense OR videoEmbeddable OR videoSyndicated OR
        videoType);
      - IF relatedToVideoId THEN type=='video' AND NOT (channelId OR channelType OR
        eventType OR location OR locationRadius OR onBehalfOfContentOwner OR order
        OR publishedAfter OR publishedBefore OR q OR topicId OR videoCaption OR videoCategoryId
        OR videoDefinition OR videoDimension OR videoDuration OR videoEmbeddable OR
        videoLicense OR videoSyndicated OR videoType);
      - IF eventType THEN type=='video';
      - AllOrNone(location, locationRadius);
      - IF videoCaption THEN type=='video';
      - IF videoCategoryId THEN type=='video';
      - IF videoDefinition THEN type=='video';
      - IF videoDimension THEN type=='video';
      - IF videoDuration THEN type=='video';
      - IF videoEmbeddable THEN type=='video';
      - IF videoLicense THEN type=='video';
      - IF videoSyndicated THEN type=='video';
      - IF videoType THEN type=='video';
  /youtube/v3/videos:
    get:
      description: Retrieves a list of resources, possibly filtered.
      operationId: youtube.videos.list
      parameters:
      - description: The *part* parameter specifies a comma-separated list of one
          or more video resource properties that the API response will include. If
          the parameter identifies a property that contains child properties, the
          child properties will be included in the response. For example, in a video
          resource, the snippet property contains the channelId, title, description,
          tags, and categoryId properties. As such, if you set *part=snippet*, the
          API response will contain all of those properties.
        explode: true
        in: query
        name: part
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Return the videos that are in the specified chart.
        explode: true
        in: query
        name: chart
        required: false
        schema:
          enum:
          - chartUnspecified
          - mostPopular
          type: string
        style: form
      - description: Stands for "host language". Specifies the localization language
          of the metadata to be filled into snippet.localized. The field is filled
          with the default metadata if there is no localization in the specified language.
          The parameter value must be a language code included in the list returned
          by the i18nLanguages.list method (e.g. en_US, es_MX).
        explode: true
        in: query
        name: hl
        required: false
        schema:
          type: string
        style: form
      - description: Return videos with the given ids.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: maxHeight
        required: false
        schema:
          maximum: 8192
          minimum: 72
          type: integer
        style: form
      - description: The *maxResults* parameter specifies the maximum number of items
          that should be returned in the result set. *Note:* This parameter is supported
          for use in conjunction with the myRating and chart parameters, but it is
          not supported for use in conjunction with the id parameter.
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Return the player with maximum height specified in
        explode: true
        in: query
        name: maxWidth
        required: false
        schema:
          maximum: 8192
          minimum: 72
          type: integer
        style: form
      - description: Return videos liked/disliked by the authenticated user. Does
          not support RateType.RATED_TYPE_NONE.
        explode: true
        in: query
        name: myRating
        required: false
        schema:
          enum:
          - none
          - like
          - dislike
          type: string
        style: form
      - description: '*Note:* This parameter is intended exclusively for YouTube content
          partners. The *onBehalfOfContentOwner* parameter indicates that the request''s
          authorization credentials identify a YouTube CMS user who is acting on behalf
          of the content owner specified in the parameter value. This parameter is
          intended for YouTube content partners that own and manage many different
          YouTube channels. It allows content owners to authenticate once and get
          access to all their video and channel data, without having to provide authentication
          credentials for each individual channel. The CMS account that the user authenticates
          with must be linked to the specified YouTube content owner.'
        explode: true
        in: query
        name: onBehalfOfContentOwner
        required: false
        schema:
          type: string
        style: form
      - description: The *pageToken* parameter identifies a specific page in the result
          set that should be returned. In an API response, the nextPageToken and prevPageToken
          properties identify other pages that could be retrieved. *Note:* This parameter
          is supported for use in conjunction with the myRating and chart parameters,
          but it is not supported for use in conjunction with the id parameter.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Use a chart that is specific to the specified region
        explode: true
        in: query
        name: regionCode
        required: false
        schema:
          type: string
        style: form
      - description: Use chart that is specific to the specified video category
        explode: true
        in: query
        name: videoCategoryId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: Successful response
        "400":
          description: "400"
        "403":
          description: "403"
        "404":
          description: "404"
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/youtube
        Oauth2c:
        - https://www.googleapis.com/auth/youtube
      - Oauth2:
        - https://www.googleapis.com/auth/youtube.force-ssl
        Oauth2c:
        - https://www.googleapis.com/auth/youtube.force-ssl
      - Oauth2:
        - https://www.googleapis.com/auth/youtube.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/youtube.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/youtubepartner
        Oauth2c:
        - https://www.googleapis.com/auth/youtubepartner
      tags:
      - videos
      x-dependencies:
      - OnlyOne(chart, id, myRating);
      - ZeroOrOne(maxResults, id);
      - ZeroOrOne(pageToken, id);
      - IF regionCode THEN chart;
      - IF videoCategoryId THEN chart;
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: API key. Your API key identifies your project and provides you
        with API access, quota, and reports. Required unless you provide an OAuth
        2.0 token.
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: Available to use for quota purposes for server-side applications.
        Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AbuseReport:
      properties:
        abuseTypes:
          items:
            $ref: '#/components/schemas/AbuseType'
          type: array
        description:
          type: string
        relatedEntities:
          items:
            $ref: '#/components/schemas/RelatedEntity'
          type: array
        subject:
          $ref: '#/components/schemas/Entity'
      type: object
    AbuseType:
      properties:
        id:
          title: id
          type: string
      title: AbuseType
      type: object
    AccessPolicy:
      description: Rights management policy for YouTube resources.
      example:
        exception:
        - exception
        - exception
        allowed: true
      properties:
        allowed:
          description: The value of allowed indicates whether the access to the policy
            is allowed or denied by default.
          title: allowed
          type: boolean
        exception:
          description: A list of region codes that identify countries where the default
            policy do not apply.
          items:
            type: string
          title: exception
          type: array
      title: AccessPolicy
      type: object
    Activity:
      description: An *activity* resource contains information about an action that
        a particular channel, or user, has taken on YouTube.The actions reported in
        activity feeds include rating a video, sharing a video, marking a video as
        a favorite, commenting on a video, uploading a video, and so forth. Each activity
        resource identifies the type of action, the channel associated with the action,
        and the resource(s) associated with the action, such as the video that was
        rated or uploaded.
      properties:
        contentDetails:
          $ref: '#/components/schemas/ActivityContentDetails'
        etag:
          description: Etag of this resource
          title: etag
          type: string
        id:
          description: The ID that YouTube uses to uniquely identify the activity.
          title: id
          type: string
        kind:
          default: youtube#activity
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#activity".'
          title: kind
          type: string
        snippet:
          $ref: '#/components/schemas/ActivitySnippet'
      title: Activity
      type: object
    ActivityContentDetails:
      description: 'Details about the content of an activity: the video that was shared,
        the channel that was subscribed to, etc.'
      properties:
        bulletin:
          $ref: '#/components/schemas/ActivityContentDetailsBulletin'
        channelItem:
          $ref: '#/components/schemas/ActivityContentDetailsChannelItem'
        comment:
          $ref: '#/components/schemas/ActivityContentDetailsComment'
        favorite:
          $ref: '#/components/schemas/ActivityContentDetailsFavorite'
        like:
          $ref: '#/components/schemas/ActivityContentDetailsLike'
        playlistItem:
          $ref: '#/components/schemas/ActivityContentDetailsPlaylistItem'
        promotedItem:
          $ref: '#/components/schemas/ActivityContentDetailsPromotedItem'
        recommendation:
          $ref: '#/components/schemas/ActivityContentDetailsRecommendation'
        social:
          $ref: '#/components/schemas/ActivityContentDetailsSocial'
        subscription:
          $ref: '#/components/schemas/ActivityContentDetailsSubscription'
        upload:
          $ref: '#/components/schemas/ActivityContentDetailsUpload'
      title: ActivityContentDetails
      type: object
    ActivityContentDetailsBulletin:
      description: Details about a channel bulletin post.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsBulletin
      type: object
    ActivityContentDetailsChannelItem:
      description: Details about a resource which was added to a channel.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsChannelItem
      type: object
    ActivityContentDetailsComment:
      description: Information about a resource that received a comment.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsComment
      type: object
    ActivityContentDetailsFavorite:
      description: Information about a video that was marked as a favorite video.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsFavorite
      type: object
    ActivityContentDetailsLike:
      description: Information about a resource that received a positive (like) rating.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsLike
      type: object
    ActivityContentDetailsPlaylistItem:
      description: Information about a new playlist item.
      properties:
        playlistId:
          description: The value that YouTube uses to uniquely identify the playlist.
          title: playlistId
          type: string
        playlistItemId:
          description: ID of the item within the playlist.
          title: playlistItemId
          type: string
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsPlaylistItem
      type: object
    ActivityContentDetailsPromotedItem:
      description: Details about a resource which is being promoted.
      properties:
        adTag:
          description: The URL the client should fetch to request a promoted item.
          title: adTag
          type: string
        clickTrackingUrl:
          description: The URL the client should ping to indicate that the user clicked
            through on this promoted item.
          title: clickTrackingUrl
          type: string
        creativeViewUrl:
          description: The URL the client should ping to indicate that the user was
            shown this promoted item.
          title: creativeViewUrl
          type: string
        ctaType:
          description: The type of call-to-action, a message to the user indicating
            action that can be taken.
          enum:
          - ctaTypeUnspecified
          - visitAdvertiserSite
          title: ctaType
          type: string
        customCtaButtonText:
          description: The custom call-to-action button text. If specified, it will
            override the default button text for the cta_type.
          title: customCtaButtonText
          type: string
        descriptionText:
          description: The text description to accompany the promoted item.
          title: descriptionText
          type: string
        destinationUrl:
          description: The URL the client should direct the user to, if the user chooses
            to visit the advertiser's website.
          title: destinationUrl
          type: string
        forecastingUrl:
          description: The list of forecasting URLs. The client should ping all of
            these URLs when a promoted item is not available, to indicate that a promoted
            item could have been shown.
          items:
            type: string
          title: forecastingUrl
          type: array
        impressionUrl:
          description: The list of impression URLs. The client should ping all of
            these URLs to indicate that the user was shown this promoted item.
          items:
            type: string
          title: impressionUrl
          type: array
        videoId:
          description: The ID that YouTube uses to uniquely identify the promoted
            video.
          title: videoId
          type: string
      title: ActivityContentDetailsPromotedItem
      type: object
    ActivityContentDetailsRecommendation:
      description: Information that identifies the recommended resource.
      properties:
        reason:
          description: The reason that the resource is recommended to the user.
          enum:
          - reasonUnspecified
          - videoFavorited
          - videoLiked
          - videoWatched
          title: reason
          type: string
        resourceId:
          $ref: '#/components/schemas/ResourceId'
        seedResourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsRecommendation
      type: object
    ActivityContentDetailsSocial:
      description: Details about a social network post.
      properties:
        author:
          description: The author of the social network post.
          title: author
          type: string
        imageUrl:
          description: An image of the post's author.
          title: imageUrl
          type: string
        referenceUrl:
          description: The URL of the social network post.
          title: referenceUrl
          type: string
        resourceId:
          $ref: '#/components/schemas/ResourceId'
        type:
          description: The name of the social network.
          enum:
          - typeUnspecified
          - googlePlus
          - facebook
          - twitter
          title: type
          type: string
      title: ActivityContentDetailsSocial
      type: object
    ActivityContentDetailsSubscription:
      description: Information about a channel that a user subscribed to.
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
      title: ActivityContentDetailsSubscription
      type: object
    ActivityContentDetailsUpload:
      description: Information about the uploaded video.
      properties:
        videoId:
          description: The ID that YouTube uses to uniquely identify the uploaded
            video.
          title: videoId
          type: string
      title: ActivityContentDetailsUpload
      type: object
    ActivityListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          items:
            $ref: '#/components/schemas/Activity'
          type: array
        kind:
          default: youtube#activityListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#activityListResponse".'
          type: string
        nextPageToken:
          description: The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        prevPageToken:
          description: The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        tokenPagination:
          description: Stub token pagination template to suppress results.
          properties: {}
          title: tokenPagination
          type: object
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
      type: object
    ActivitySnippet:
      description: 'Basic details about an activity, including title, description,
        thumbnails, activity type and group. Next ID: 12'
      properties:
        channelId:
          description: The ID that YouTube uses to uniquely identify the channel associated
            with the activity.
          title: channelId
          type: string
        channelTitle:
          description: Channel title for the channel responsible for this activity
          title: channelTitle
          type: string
        description:
          description: The description of the resource primarily associated with the
            activity. @mutable youtube.activities.insert
          title: description
          type: string
        groupId:
          description: The group ID associated with the activity. A group ID identifies
            user events that are associated with the same user and resource. For example,
            if a user rates a video and marks the same video as a favorite, the entries
            for those events would have the same group ID in the user's activity feed.
            In your user interface, you can avoid repetition by grouping events with
            the same groupId value.
          title: groupId
          type: string
        publishedAt:
          description: The date and time that the video was uploaded.
          format: date-time
          title: publishedAt
          type: string
        thumbnails:
          $ref: '#/components/schemas/ThumbnailDetails'
        title:
          description: The title of the resource primarily associated with the activity.
          title: title
          type: string
        type:
          description: The type of activity that the resource describes.
          enum:
          - typeUnspecified
          - upload
          - like
          - favorite
          - comment
          - subscription
          - playlistItem
          - recommendation
          - bulletin
          - social
          - channelItem
          - promotedItem
          title: type
          type: string
      title: ActivitySnippet
      type: object
    Caption:
      description: A *caption* resource represents a YouTube caption track. A caption
        track is associated with exactly one YouTube video.
      properties:
        etag:
          description: Etag of this resource.
          title: etag
          type: string
        id:
          description: The ID that YouTube uses to uniquely identify the caption track.
          title: id
          type: string
        kind:
          default: youtube#caption
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#caption".'
          title: kind
          type: string
        snippet:
          $ref: '#/components/schemas/CaptionSnippet'
      title: Caption
      type: object
    CaptionListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          description: A list of captions that match the request criteria.
          items:
            $ref: '#/components/schemas/Caption'
          type: array
        kind:
          default: youtube#captionListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#captionListResponse".'
          type: string
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
      type: object
    CaptionSnippet:
      description: Basic details about a caption track, such as its language and name.
      properties:
        audioTrackType:
          description: The type of audio track associated with the caption track.
          enum:
          - unknown
          - primary
          - commentary
          - descriptive
          title: audioTrackType
          type: string
        failureReason:
          description: The reason that YouTube failed to process the caption track.
            This property is only present if the state property's value is failed.
          enum:
          - unknownFormat
          - unsupportedFormat
          - processingFailed
          title: failureReason
          type: string
        isAutoSynced:
          description: Indicates whether YouTube synchronized the caption track to
            the audio track in the video. The value will be true if a sync was explicitly
            requested when the caption track was uploaded. For example, when calling
            the captions.insert or captions.update methods, you can set the sync parameter
            to true to instruct YouTube to sync the uploaded track to the video. If
            the value is false, YouTube uses the time codes in the uploaded caption
            track to determine when to display captions.
          title: isAutoSynced
          type: boolean
        isCC:
          description: Indicates whether the track contains closed captions for the
            deaf and hard of hearing. The default value is false.
          title: isCC
          type: boolean
        isDraft:
          description: Indicates whether the caption track is a draft. If the value
            is true, then the track is not publicly visible. The default value is
            false. @mutable youtube.captions.insert youtube.captions.update
          title: isDraft
          type: boolean
        isEasyReader:
          description: Indicates whether caption track is formatted for "easy reader,"
            meaning it is at a third-grade level for language learners. The default
            value is false.
          title: isEasyReader
          type: boolean
        isLarge:
          description: Indicates whether the caption track uses large text for the
            vision-impaired. The default value is false.
          title: isLarge
          type: boolean
        language:
          description: The language of the caption track. The property value is a
            BCP-47 language tag.
          title: language
          type: string
        lastUpdated:
          description: The date and time when the caption track was last updated.
          format: date-time
          title: lastUpdated
          type: string
        name:
          description: The name of the caption track. The name is intended to be visible
            to the user as an option during playback.
          title: name
          type: string
        status:
          description: The caption track's status.
          enum:
          - serving
          - syncing
          - failed
          title: status
          type: string
        trackKind:
          description: The caption track's type.
          enum:
          - standard
          - ASR
          - forced
          title: trackKind
          type: string
        videoId:
          description: The ID that YouTube uses to uniquely identify the video associated
            with the caption track. @mutable youtube.captions.insert
          title: videoId
          type: string
      title: CaptionSnippet
      type: object
    CdnSettings:
      description: Brief description of the live stream cdn settings.
      properties:
        format:
          description: 'The format of the video stream that you are sending to Youtube. '
          title: format
          type: string
        frameRate:
          description: The frame rate of the inbound video data.
          enum:
          - 30fps
          - 60fps
          - variable
          title: frameRate
          type: string
        ingestionInfo:
          $ref: '#/components/schemas/IngestionInfo'
        ingestionType:
          description: ' The method or protocol used to transmit the video stream.'
          enum:
          - rtmp
          - dash
          - webrtc
          - hls
          title: ingestionType
          type: string
        resolution:
          description: The resolution of the inbound video data.
          enum:
          - 240p
          - 360p
          - 480p
          - 720p
          - 1080p
          - 1440p
          - 2160p
          - variable
          title: resolution
          type: string
      title: CdnSettings
      type: object
    Channel:
      description: A *channel* resource contains information about a YouTube channel.
      properties:
        auditDetails:
          $ref: '#/components/schemas/ChannelAuditDetails'
        brandingSettings:
          $ref: '#/components/schemas/ChannelBrandingSettings'
        contentDetails:
          $ref: '#/components/schemas/ChannelContentDetails'
        contentOwnerDetails:
          $ref: '#/components/schemas/ChannelContentOwnerDetails'
        conversionPings:
          $ref: '#/components/schemas/ChannelConversionPings'
        etag:
          description: Etag of this resource.
          title: etag
          type: string
        id:
          description: The ID that YouTube uses to uniquely identify the channel.
          title: id
          type: string
        kind:
          default: youtube#channel
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#channel".'
          title: kind
          type: string
        localizations:
          additionalProperties:
            $ref: '#/components/schemas/ChannelLocalization'
          description: Localizations for different languages
          title: localizations
          type: object
        snippet:
          $ref: '#/components/schemas/ChannelSnippet'
        statistics:
          $ref: '#/components/schemas/ChannelStatistics'
        status:
          $ref: '#/components/schemas/ChannelStatus'
        topicDetails:
          $ref: '#/components/schemas/ChannelTopicDetails'
      title: Channel
      type: object
    ChannelAuditDetails:
      description: The auditDetails object encapsulates channel data that is relevant
        for YouTube Partners during the audit process.
      properties:
        communityGuidelinesGoodStanding:
          description: Whether or not the channel respects the community guidelines.
          title: communityGuidelinesGoodStanding
          type: boolean
        contentIdClaimsGoodStanding:
          description: Whether or not the channel has any unresolved claims.
          title: contentIdClaimsGoodStanding
          type: boolean
        copyrightStrikesGoodStanding:
          description: Whether or not the channel has any copyright strikes.
          title: copyrightStrikesGoodStanding
          type: boolean
      title: ChannelAuditDetails
      type: object
    ChannelBannerResource:
      description: A channel banner returned as the response to a channel_banner.insert
        call.
      properties:
        etag:
          type: string
        kind:
          default: youtube#channelBannerResource
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#channelBannerResource".'
          type: string
        url:
          description: The URL of this banner image.
          type: string
      type: object
    ChannelBrandingSettings:
      description: Branding properties of a YouTube channel.
      properties:
        channel:
          $ref: '#/components/schemas/ChannelSettings'
        hints:
          description: Additional experimental branding properties.
          items:
            $ref: '#/components/schemas/PropertyValue'
          title: hints
          type: array
        image:
          $ref: '#/components/schemas/ImageSettings'
        watch:
          $ref: '#/components/schemas/WatchSettings'
      title: ChannelBrandingSettings
      type: object
    ChannelContentDetails:
      description: Details about the content of a channel.
      properties:
        relatedPlaylists:
          $ref: '#/components/schemas/ChannelContentDetails_relatedPlaylists'
      title: ChannelContentDetails
      type: object
    ChannelContentOwnerDetails:
      description: The contentOwnerDetails object encapsulates channel data that is
        relevant for YouTube Partners linked with the channel.
      properties:
        contentOwner:
          description: The ID of the content owner linked to the channel.
          title: contentOwner
          type: string
        timeLinked:
          description: The date and time when the channel was linked to the content
            owner.
          format: date-time
          title: timeLinked
          type: string
      title: ChannelContentOwnerDetails
      type: object
    ChannelConversionPing:
      description: Pings that the app shall fire (authenticated by biscotti cookie).
        Each ping has a context, in which the app must fire the ping, and a url identifying
        the ping.
      properties:
        context:
          description: Defines the context of the ping.
          enum:
          - subscribe
          - unsubscribe
          - cview
          title: context
          type: string
        conversionUrl:
          description: 'The url (without the schema) that the player shall send the
            ping to. It''s at caller''s descretion to decide which schema to use (http
            vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/
            viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default
            The caller must append biscotti authentication (ms param in case of mobile,
            for example) to this ping.'
          title: conversionUrl
          type: string
      title: ChannelConversionPing
      type: object
    ChannelConversionPings:
      description: The conversionPings object encapsulates information about conversion
        pings that need to be respected by the channel.
      properties:
        pings:
          description: Pings that the app shall fire (authenticated by biscotti cookie).
            Each ping has a context, in which the app must fire the ping, and a url
            identifying the ping.
          items:
            $ref: '#/components/schemas/ChannelConversionPing'
          title: pings
          type: array
      title: ChannelConversionPings
      type: object
    ChannelListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          items:
            $ref: '#/components/schemas/Channel'
          type: array
        kind:
          default: youtube#channelListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#channelListResponse".'
          type: string
        nextPageToken:
          description: The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        prevPageToken:
          description: The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        tokenPagination:
          description: Stub token pagination template to suppress results.
          properties: {}
          title: tokenPagination
          type: object
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
      type: object
    ChannelLocalization:
      description: Channel localization setting
      properties:
        description:
          description: The localized strings for channel's description.
          title: description
          type: string
        title:
          description: The localized strings for channel's title.
          title: title
          type: string
      title: ChannelLocalization
      type: object
    ChannelProfileDetails:
      properties:
        channelId:
          description: The YouTube channel ID.
          title: channelId
          type: string
        channelUrl:
          description: The channel's URL.
          title: channelUrl
          type: string
        displayName:
          description: The channel's display name.
          title: displayName
          type: string
        profileImageUrl:
          description: The channels's avatar URL.
          title: profileImageUrl
          type: string
      title: ChannelProfileDetails
      type: object
    ChannelSection:
      properties:
        contentDetails:
          $ref: '#/components/schemas/ChannelSectionContentDetails'
        etag:
          description: Etag of this resource.
          title: etag
          type: string
        id:
          description: The ID that YouTube uses to uniquely identify the channel section.
          title: id
          type: string
        kind:
          default: youtube#channelSection
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#channelSection".'
          title: kind
          type: string
        localizations:
          additionalProperties:
            $ref: '#/components/schemas/ChannelSectionLocalization'
          description: Localizations for different languages
          title: localizations
          type: object
        snippet:
          $ref: '#/components/schemas/ChannelSectionSnippet'
        targeting:
          $ref: '#/components/schemas/ChannelSectionTargeting'
      title: ChannelSection
      type: object
    ChannelSectionContentDetails:
      description: Details about a channelsection, including playlists and channels.
      properties:
        channels:
          description: The channel ids for type multiple_channels.
          items:
            type: string
          title: channels
          type: array
        playlists:
          description: The playlist ids for type single_playlist and multiple_playlists.
            For singlePlaylist, only one playlistId is allowed.
          items:
            type: string
          title: playlists
          type: array
      title: ChannelSectionContentDetails
      type: object
    ChannelSectionListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          description: A list of ChannelSections that match the request criteria.
          items:
            $ref: '#/components/schemas/ChannelSection'
          type: array
        kind:
          default: youtube#channelSectionListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#channelSectionListResponse".'
          type: string
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
      type: object
    ChannelSectionLocalization:
      description: ChannelSection localization setting
      properties:
        title:
          description: The localized strings for channel section's title.
          title: title
          type: string
      title: ChannelSectionLocalization
      type: object
    ChannelSectionSnippet:
      description: Basic details about a channel section, including title, style and
        position.
      properties:
        channelId:
          description: The ID that YouTube uses to uniquely identify the channel that
            published the channel section.
          title: channelId
          type: string
        defaultLanguage:
          description: The language of the channel section's default title and description.
          title: defaultLanguage
          type: string
        localized:
          $ref: '#/components/schemas/ChannelSectionLocalization'
        position:
          description: The position of the channel section in the channel.
          format: uint32
          title: position
          type: integer
        style:
          description: The style of the channel section.
          enum:
          - channelsectionStyleUnspecified
          - horizontalRow
          - verticalList
          title: style
          type: string
        title:
          description: The channel section's title for multiple_playlists and multiple_channels.
          title: title
          type: string
        type:
          description: The type of the channel section.
          enum:
          - channelsectionTypeUnspecified
          - singlePlaylist
          - multiplePlaylists
          - popularUploads
          - recentUploads
          - likes
          - allPlaylists
          - likedPlaylists
          - recentPosts
          - recentActivity
          - liveEvents
          - upcomingEvents
          - completedEvents
          - multipleChannels
          - postedVideos
          - postedPlaylists
          - subscriptions
          title: type
          type: string
      title: ChannelSectionSnippet
      type: object
    ChannelSectionTargeting:
      description: ChannelSection targeting setting.
      properties:
        countries:
          description: The country the channel section is targeting.
          items:
            type: string
          title: countries
          type: array
        languages:
          description: The language the channel section is targeting.
          items:
            type: string
          title: languages
          type: array
        regions:
          description: The region the channel section is targeting.
          items:
            type: string
          title: regions
          type: array
      title: ChannelSectionTargeting
      type: object
    ChannelSettings:
      description: Branding properties for the channel view.
      properties:
        country:
          description: The country of the channel.
          title: country
          type: string
        defaultLanguage:
          title: defaultLanguage
          type: string
        defaultTab:
          description: Which content tab users should see when viewing the channel.
          title: defaultTab
          type: string
        description:
          description: Specifies the channel description.
          title: description
          type: string
        featuredChannelsTitle:
          description: Title for the featured channels tab.
          title: featuredChannelsTitle
          type: string
        featuredChannelsUrls:
          description: The list of featured channels.
          items:
            type: string
          title: featuredChannelsUrls
          type: array
        keywords:
          description: Lists keywords associated with the channel, comma-separated.
          title: keywords
          type: string
        moderateComments:
          description: Whether user-submitted comments left on the channel page need
            to be approved by the channel owner to be publicly visible.
          title: moderateComments
          type: boolean
        profileColor:
          description: A prominent color that can be rendered on this channel page.
          title: profileColor
          type: string
        showBrowseView:
          description: Whether the tab to browse the videos should be displayed.
          title: showBrowseView
          type: boolean
        showRelatedChannels:
          description: Whether related channels should be proposed.
          title: showRelatedChannels
          type: boolean
        title:
          description: Specifies the channel title.
          title: title
          type: string
        trackingAnalyticsAccountId:
          description: The ID for a Google Analytics account to track and measure
            traffic to the channels.
          title: trackingAnalyticsAccountId
          type: string
        unsubscribedTrailer:
          description: The trailer of the channel, for users that are not subscribers.
          title: unsubscribedTrailer
          type: string
      title: ChannelSettings
      type: object
    ChannelSnippet:
      description: Basic details about a channel, including title, description and
        thumbnails.
      properties:
        country:
          description: The country of the channel.
          title: country
          type: string
        customUrl:
          description: The custom url of the channel.
          title: customUrl
          type: string
        defaultLanguage:
          description: The language of the channel's default title and description.
          title: defaultLanguage
          type: string
        description:
          description: The description of the channel.
          title: description
          type: string
        localized:
          $ref: '#/components/schemas/ChannelLocalization'
        publishedAt:
          description: The date and time that the channel was created.
          format: date-time
          title: publishedAt
          type: string
        thumbnails:
          $ref: '#/components/schemas/ThumbnailDetails'
        title:
          description: The channel's title.
          title: title
          type: string
      title: ChannelSnippet
      type: object
    ChannelStatistics:
      description: 'Statistics about a channel: number of subscribers, number of videos
        in the channel, etc.'
      properties:
        commentCount:
          description: The number of comments for the channel.
          format: uint64
          title: commentCount
          type: string
        hiddenSubscriberCount:
          description: Whether or not the number of subscribers is shown for this
            user.
          title: hiddenSubscriberCount
          type: boolean
        subscriberCount:
          description: The number of subscribers that the channel has.
          format: uint64
          title: subscriberCount
          type: string
        videoCount:
          description: The number of videos uploaded to the channel.
          format: uint64
          title: videoCount
          type: string
        viewCount:
          description: The number of times the channel has been viewed.
          format: uint64
          title: viewCount
          type: string
      title: ChannelStatistics
      type: object
    ChannelStatus:
      description: JSON template for the status part of a channel.
      properties:
        isLinked:
          description: If true, then the user is linked to either a YouTube username
            or G+ account. Otherwise, the user doesn't have a public YouTube identity.
          title: isLinked
          type: boolean
        longUploadsStatus:
          description: The long uploads status of this channel. See https://support.google.com/youtube/answer/71673
            for more information.
          enum:
          - longUploadsUnspecified
          - allowed
          - eligible
          - disallowed
          title: longUploadsStatus
          type: string
        madeForKids:
          title: madeForKids
          type: boolean
        privacyStatus:
          description: Privacy status of the channel.
          enum:
          - public
          - unlisted
          - private
          title: privacyStatus
          type: string
        selfDeclaredMadeForKids:
          title: selfDeclaredMadeForKids
          type: boolean
      title: ChannelStatus
      type: object
    ChannelToStoreLinkDetails:
      description: Information specific to a store on a merchandising platform linked
        to a YouTube channel.
      properties:
        storeName:
          description: Name of the store.
          title: storeName
          type: string
        storeUrl:
          description: Landing page of the store.
          title: storeUrl
          type: string
      title: ChannelToStoreLinkDetails
      type: object
    ChannelTopicDetails:
      description: Freebase topic information related to the channel.
      properties:
        topicCategories:
          description: A list of Wikipedia URLs that describe the channel's content.
          items:
            type: string
          title: topicCategories
          type: array
        topicIds:
          description: A list of Freebase topic IDs associated with the channel. You
            can retrieve information about each topic using the Freebase Topic API.
          items:
            type: string
          title: topicIds
          type: array
      title: ChannelTopicDetails
      type: object
    Comment:
      description: A *comment* represents a single YouTube comment.
      example:
        snippet:
          authorProfileImageUrl: authorProfileImageUrl
          textDisplay: textDisplay
          publishedAt: 2000-01-23T04:56:07.000+00:00
          authorChannelId:
            value: value
          moderationStatus: published
          likeCount: 0
          videoId: videoId
          textOriginal: textOriginal
          authorDisplayName: authorDisplayName
          parentId: parentId
          canRate: true
          authorChannelUrl: authorChannelUrl
          channelId: channelId
          updatedAt: 2000-01-23T04:56:07.000+00:00
          viewerRating: none
        kind: youtube#comment
        etag: etag
        id: id
      properties:
        etag:
          description: Etag of this resource.
          title: etag
          type: string
        id:
          description: The ID that YouTube uses to uniquely identify the comment.
          title: id
          type: string
        kind:
          default: youtube#comment
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#comment".'
          title: kind
          type: string
        snippet:
          $ref: '#/components/schemas/CommentSnippet'
      title: Comment
      type: object
    CommentListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          description: A list of comments that match the request criteria.
          items:
            $ref: '#/components/schemas/Comment'
          type: array
        kind:
          default: youtube#commentListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#commentListResponse".'
          type: string
        nextPageToken:
          description: The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        tokenPagination:
          description: Stub token pagination template to suppress results.
          properties: {}
          title: tokenPagination
          type: object
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
      type: object
    CommentSnippet:
      description: Basic details about a comment, such as its author and text.
      example:
        authorProfileImageUrl: authorProfileImageUrl
        textDisplay: textDisplay
        publishedAt: 2000-01-23T04:56:07.000+00:00
        authorChannelId:
          value: value
        moderationStatus: published
        likeCount: 0
        videoId: videoId
        textOriginal: textOriginal
        authorDisplayName: authorDisplayName
        parentId: parentId
        canRate: true
        authorChannelUrl: authorChannelUrl
        channelId: channelId
        updatedAt: 2000-01-23T04:56:07.000+00:00
        viewerRating: none
      properties:
        authorChannelId:
          $ref: '#/components/schemas/CommentSnippetAuthorChannelId'
        authorChannelUrl:
          description: Link to the author's YouTube channel, if any.
          title: authorChannelUrl
          type: string
        authorDisplayName:
          description: The name of the user who posted the comment.
          title: authorDisplayName
          type: string
        authorProfileImageUrl:
          description: The URL for the avatar of the user who posted the comment.
          title: authorProfileImageUrl
          type: string
        canRate:
          description: Whether the current viewer can rate this comment.
          title: canRate
          type: boolean
        channelId:
          description: The id of the corresponding YouTube channel. In case of a channel
            comment this is the channel the comment refers to. In case of a video
            comment it's the video's channel.
          title: channelId
          type: string
        likeCount:
          description: The total number of likes this comment has received.
          format: uint32
          title: likeCount
          type: integer
        moderationStatus:
          description: The comment's moderation status. Will not be set if the comments
            were requested through the id filter.
          enum:
          - published
          - heldForReview
          - likelySpam
          - rejected
          title: moderationStatus
          type: string
        parentId:
          description: The unique id of the parent comment, only set for replies.
          title: parentId
          type: string
        publishedAt:
          description: The date and time when the comment was originally published.
          format: date-time
          title: publishedAt
          type: string
        textDisplay:
          description: The comment's text. The format is either plain text or HTML
            dependent on what has been requested. Even the plain text representation
            may differ from the text originally posted in that it may replace video
            links with video titles etc.
          title: textDisplay
          type: string
        textOriginal:
          description: The comment's original raw text as initially posted or last
            updated. The original text will only be returned if it is accessible to
            the viewer, which is only guaranteed if the viewer is the comment's author.
          title: textOriginal
          type: string
        updatedAt:
          description: The date and time when the comment was last updated.
          format: date-time
          title: updatedAt
          type: string
        videoId:
          description: The ID of the video the comment refers to, if any.
          title: videoId
          type: string
        viewerRating:
          description: The rating the viewer has given to this comment. For the time
            being this will never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE.
            This may change in the future.
          enum:
          - none
          - like
          - dislike
          title: viewerRating
          type: string
      title: CommentSnippet
      type: object
    CommentSnippetAuthorChannelId:
      description: The id of the author's YouTube channel, if any.
      example:
        value: value
      properties:
        value:
          title: value
          type: string
      title: CommentSnippetAuthorChannelId
      type: object
    CommentThread:
      description: A *comment thread* represents information that applies to a top
        level comment and all its replies. It can also include the top level comment
        itself and some of the replies.
      example:
        snippet:
          canReply: true
          totalReplyCount: 6
          topLevelComment:
            snippet:
              authorProfileImageUrl: authorProfileImageUrl
              textDisplay: textDisplay
              publishedAt: 2000-01-23T04:56:07.000+00:00
              authorChannelId:
                value: value
              moderationStatus: published
              likeCount: 0
              videoId: videoId
              textOriginal: textOriginal
              authorDisplayName: authorDisplayName
              parentId: parentId
              canRate: true
              authorChannelUrl: authorChannelUrl
              channelId: channelId
              updatedAt: 2000-01-23T04:56:07.000+00:00
              viewerRating: none
            kind: youtube#comment
            etag: etag
            id: id
          isPublic: true
          videoId: videoId
          channelId: channelId
        replies:
          comments:
          - snippet:
              authorProfileImageUrl: authorProfileImageUrl
              textDisplay: textDisplay
              publishedAt: 2000-01-23T04:56:07.000+00:00
              authorChannelId:
                value: value
              moderationStatus: published
              likeCount: 0
              videoId: videoId
              textOriginal: textOriginal
              authorDisplayName: authorDisplayName
              parentId: parentId
              canRate: true
              authorChannelUrl: authorChannelUrl
              channelId: channelId
              updatedAt: 2000-01-23T04:56:07.000+00:00
              viewerRating: none
            kind: youtube#comment
            etag: etag
            id: id
          - snippet:
              authorProfileImageUrl: authorProfileImageUrl
              textDisplay: textDisplay
              publishedAt: 2000-01-23T04:56:07.000+00:00
              authorChannelId:
                value: value
              moderationStatus: published
              likeCount: 0
              videoId: videoId
              textOriginal: textOriginal
              authorDisplayName: authorDisplayName
              parentId: parentId
              canRate: true
              authorChannelUrl: authorChannelUrl
              channelId: channelId
              updatedAt: 2000-01-23T04:56:07.000+00:00
              viewerRating: none
            kind: youtube#comment
            etag: etag
            id: id
        kind: youtube#commentThread
        etag: etag
        id: id
      properties:
        etag:
          description: Etag of this resource.
          title: etag
          type: string
        id:
          description: The ID that YouTube uses to uniquely identify the comment thread.
          title: id
          type: string
        kind:
          default: youtube#commentThread
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#commentThread".'
          title: kind
          type: string
        replies:
          $ref: '#/components/schemas/CommentThreadReplies'
        snippet:
          $ref: '#/components/schemas/CommentThreadSnippet'
      title: CommentThread
      type: object
    CommentThreadListResponse:
      example:
        eventId: eventId
        tokenPagination: '{}'
        kind: youtube#commentThreadListResponse
        nextPageToken: nextPageToken
        pageInfo:
          totalResults: 5
          resultsPerPage: 1
        etag: etag
        items:
        - snippet:
            canReply: true
            totalReplyCount: 6
            topLevelComment:
              snippet:
                authorProfileImageUrl: authorProfileImageUrl
                textDisplay: textDisplay
                publishedAt: 2000-01-23T04:56:07.000+00:00
                authorChannelId:
                  value: value
                moderationStatus: published
                likeCount: 0
                videoId: videoId
                textOriginal: textOriginal
                authorDisplayName: authorDisplayName
                parentId: parentId
                canRate: true
                authorChannelUrl: authorChannelUrl
                channelId: channelId
                updatedAt: 2000-01-23T04:56:07.000+00:00
                viewerRating: none
              kind: youtube#comment
              etag: etag
              id: id
            isPublic: true
            videoId: videoId
            channelId: channelId
          replies:
            comments:
            - snippet:
                authorProfileImageUrl: authorProfileImageUrl
                textDisplay: textDisplay
                publishedAt: 2000-01-23T04:56:07.000+00:00
                authorChannelId:
                  value: value
                moderationStatus: published
                likeCount: 0
                videoId: videoId
                textOriginal: textOriginal
                authorDisplayName: authorDisplayName
                parentId: parentId
                canRate: true
                authorChannelUrl: authorChannelUrl
                channelId: channelId
                updatedAt: 2000-01-23T04:56:07.000+00:00
                viewerRating: none
              kind: youtube#comment
              etag: etag
              id: id
            - snippet:
                authorProfileImageUrl: authorProfileImageUrl
                textDisplay: textDisplay
                publishedAt: 2000-01-23T04:56:07.000+00:00
                authorChannelId:
                  value: value
                moderationStatus: published
                likeCount: 0
                videoId: videoId
                textOriginal: textOriginal
                authorDisplayName: authorDisplayName
                parentId: parentId
                canRate: true
                authorChannelUrl: authorChannelUrl
                channelId: channelId
                updatedAt: 2000-01-23T04:56:07.000+00:00
                viewerRating: none
              kind: youtube#comment
              etag: etag
              id: id
          kind: youtube#commentThread
          etag: etag
          id: id
        - snippet:
            canReply: true
            totalReplyCount: 6
            topLevelComment:
              snippet:
                authorProfileImageUrl: authorProfileImageUrl
                textDisplay: textDisplay
                publishedAt: 2000-01-23T04:56:07.000+00:00
                authorChannelId:
                  value: value
                moderationStatus: published
                likeCount: 0
                videoId: videoId
                textOriginal: textOriginal
                authorDisplayName: authorDisplayName
                parentId: parentId
                canRate: true
                authorChannelUrl: authorChannelUrl
                channelId: channelId
                updatedAt: 2000-01-23T04:56:07.000+00:00
                viewerRating: none
              kind: youtube#comment
              etag: etag
              id: id
            isPublic: true
            videoId: videoId
            channelId: channelId
          replies:
            comments:
            - snippet:
                authorProfileImageUrl: authorProfileImageUrl
                textDisplay: textDisplay
                publishedAt: 2000-01-23T04:56:07.000+00:00
                authorChannelId:
                  value: value
                moderationStatus: published
                likeCount: 0
                videoId: videoId
                textOriginal: textOriginal
                authorDisplayName: authorDisplayName
                parentId: parentId
                canRate: true
                authorChannelUrl: authorChannelUrl
                channelId: channelId
                updatedAt: 2000-01-23T04:56:07.000+00:00
                viewerRating: none
              kind: youtube#comment
              etag: etag
              id: id
            - snippet:
                authorProfileImageUrl: authorProfileImageUrl
                textDisplay: textDisplay
                publishedAt: 2000-01-23T04:56:07.000+00:00
                authorChannelId:
                  value: value
                moderationStatus: published
                likeCount: 0
                videoId: videoId
                textOriginal: textOriginal
                authorDisplayName: authorDisplayName
                parentId: parentId
                canRate: true
                authorChannelUrl: authorChannelUrl
                channelId: channelId
                updatedAt: 2000-01-23T04:56:07.000+00:00
                viewerRating: none
              kind: youtube#comment
              etag: etag
              id: id
          kind: youtube#commentThread
          etag: etag
          id: id
        visitorId: visitorId
      properties:
        etag:
          description: Etag of this resource.
          title: etag
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          title: eventId
          type: string
        items:
          description: A list of comment threads that match the request criteria.
          items:
            $ref: '#/components/schemas/CommentThread'
          title: items
          type: array
        kind:
          default: youtube#commentThreadListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed
            string "youtube#commentThreadListResponse".'
          title: kind
          type: string
        nextPageToken:
          description: The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          title: nextPageToken
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        tokenPagination:
          description: Stub token pagination template to suppress results.
          properties: {}
          title: tokenPagination
          type: object
        visitorId:
          description: The visitorId identifies the visitor.
          title: visitorId
          type: string
      title: CommentThreadListResponse
      type: object
    CommentThreadReplies:
      description: Comments written in (direct or indirect) reply to the top level
        comment.
      example:
        comments:
        - snippet:
            authorProfileImageUrl: authorProfileImageUrl
            textDisplay: textDisplay
            publishedAt: 2000-01-23T04:56:07.000+00:00
            authorChannelId:
              value: value
            moderationStatus: published
            likeCount: 0
            videoId: videoId
            textOriginal: textOriginal
            authorDisplayName: authorDisplayName
            parentId: parentId
            canRate: true
            authorChannelUrl: authorChannelUrl
            channelId: channelId
            updatedAt: 2000-01-23T04:56:07.000+00:00
            viewerRating: none
          kind: youtube#comment
          etag: etag
          id: id
        - snippet:
            authorProfileImageUrl: authorProfileImageUrl
            textDisplay: textDisplay
            publishedAt: 2000-01-23T04:56:07.000+00:00
            authorChannelId:
              value: value
            moderationStatus: published
            likeCount: 0
            videoId: videoId
            textOriginal: textOriginal
            authorDisplayName: authorDisplayName
            parentId: parentId
            canRate: true
            authorChannelUrl: authorChannelUrl
            channelId: channelId
            updatedAt: 2000-01-23T04:56:07.000+00:00
            viewerRating: none
          kind: youtube#comment
          etag: etag
          id: id
      properties:
        comments:
          description: A limited number of replies. Unless the number of replies returned
            equals total_reply_count in the snippet the returned replies are only
            a subset of the total number of replies.
          items:
            $ref: '#/components/schemas/Comment'
          title: comments
          type: array
      title: CommentThreadReplies
      type: object
    CommentThreadSnippet:
      description: Basic details about a comment thread.
      example:
        canReply: true
        totalReplyCount: 6
        topLevelComment:
          snippet:
            authorProfileImageUrl: authorProfileImageUrl
            textDisplay: textDisplay
            publishedAt: 2000-01-23T04:56:07.000+00:00
            authorChannelId:
              value: value
            moderationStatus: published
            likeCount: 0
            videoId: videoId
            textOriginal: textOriginal
            authorDisplayName: authorDisplayName
            parentId: parentId
            canRate: true
            authorChannelUrl: authorChannelUrl
            channelId: channelId
            updatedAt: 2000-01-23T04:56:07.000+00:00
            viewerRating: none
          kind: youtube#comment
          etag: etag
          id: id
        isPublic: true
        videoId: videoId
        channelId: channelId
      properties:
        canReply:
          description: Whether the current viewer of the thread can reply to it. This
            is viewer specific - other viewers may see a different value for this
            field.
          title: canReply
          type: boolean
        channelId:
          description: The YouTube channel the comments in the thread refer to or
            the channel with the video the comments refer to. If video_id isn't set
            the comments refer to the channel itself.
          title: channelId
          type: string
        isPublic:
          description: Whether the thread (and therefore all its comments) is visible
            to all YouTube users.
          title: isPublic
          type: boolean
        topLevelComment:
          $ref: '#/components/schemas/Comment'
        totalReplyCount:
          description: The total number of replies (not including the top level comment).
          format: uint32
          title: totalReplyCount
          type: integer
        videoId:
          description: The ID of the video the comments refer to, if any. No video_id
            implies a channel discussion comment.
          title: videoId
          type: string
      title: CommentThreadSnippet
      type: object
    ContentRating:
      description: Ratings schemes. The country-specific ratings are mostly for movies
        and shows. LINT.IfChange
      example:
        ifcoRating: ifcoUnspecified
        lsfRating: lsfUnspecified
        cicfRating: cicfUnspecified
        tvpgRating: tvpgUnspecified
        menaMpaaRating: menaMpaaUnspecified
        ilfilmRating: ilfilmUnspecified
        nmcRating: nmcUnspecified
        nkclvRating: nkclvUnspecified
        catvfrRating: catvfrUnspecified
        egfilmRating: egfilmUnspecified
        cccRating: cccUnspecified
        resorteviolenciaRating: resorteviolenciaUnspecified
        chvrsRating: chvrsUnspecified
        nbcplRating: nbcplUnspecified
        chfilmRating: chfilmUnspecified
        anatelRating: anatelUnspecified
        smsaRating: smsaUnspecified
        smaisRating: smaisUnspecified
        kfcbRating: kfcbUnspecified
        skfilmRating: skfilmUnspecified
        acbRating: acbUnspecified
        mibacRating: mibacUnspecified
        djctqRatingReasons:
        - djctqRatingReasonUnspecified
        - djctqRatingReasonUnspecified
        ytRating: ytUnspecified
        kijkwijzerRating: kijkwijzerUnspecified
        mdaRating: mdaUnspecified
        fcoRating: fcoUnspecified
        mekuRating: mekuUnspecified
        mccaaRating: mccaaUnspecified
        cncRating: cncUnspecified
        rteRating: rteUnspecified
        nbcRating: nbcUnspecified
        moctwRating: moctwUnspecified
        mocRating: mocUnspecified
        csaRating: csaUnspecified
        mpaaRating: mpaaUnspecified
        pefilmRating: pefilmUnspecified
        cscfRating: cscfUnspecified
        bfvcRating: bfvcUnspecified
        mccypRating: mccypUnspecified
        mpaatRating: mpaatUnspecified
        mcstRating: mcstUnspecified
        eefilmRating: eefilmUnspecified
        grfilmRating: grfilmUnspecified
        bmukkRating: bmukkUnspecified
        cbfcRating: cbfcUnspecified
        djctqRating: djctqUnspecified
        rcnofRating: rcnofUnspecified
        fmocRating: fmocUnspecified
        mtrcbRating: mtrcbUnspecified
        oflcRating: oflcUnspecified
        agcomRating: agcomUnspecified
        russiaRating: russiaUnspecified
        cceRating: cceUnspecified
        fskRating: fskUnspecified
        rtcRating: rtcUnspecified
        nfvcbRating: nfvcbUnspecified
        incaaRating: incaaUnspecified
        medietilsynetRating: medietilsynetUnspecified
        eirinRating: eirinUnspecified
        fpbRatingReasons:
        - fpbRatingReasonUnspecified
        - fpbRatingReasonUnspecified
        icaaRating: icaaUnspecified
        catvRating: catvUnspecified
        fcbmRating: fcbmUnspecified
        fpbRating: fpbUnspecified
        bbfcRating: bbfcUnspecified
        kmrbRating: kmrbUnspecified
        nfrcRating: nfrcUnspecified
        cnaRating: cnaUnspecified
        czfilmRating: czfilmUnspecified
        ecbmctRating: ecbmctUnspecified
      properties:
        acbRating:
          description: The video's Australian Classification Board (ACB) or Australian
            Communications and Media Authority (ACMA) rating. ACMA ratings are used
            to classify children's television programming.
          enum:
          - acbUnspecified
          - acbE
          - acbP
          - acbC
          - acbG
          - acbPg
          - acbM
          - acbMa15plus
          - acbR18plus
          - acbUnrated
          title: acbRating
          type: string
        agcomRating:
          description: The video's rating from Italy's Autorità per le Garanzie nelle
            Comunicazioni (AGCOM).
          enum:
          - agcomUnspecified
          - agcomT
          - agcomVm14
          - agcomVm18
          - agcomUnrated
          title: agcomRating
          type: string
        anatelRating:
          description: The video's Anatel (Asociación Nacional de Televisión) rating
            for Chilean television.
          enum:
          - anatelUnspecified
          - anatelF
          - anatelI
          - anatelI7
          - anatelI10
          - anatelI12
          - anatelR
          - anatelA
          - anatelUnrated
          title: anatelRating
          type: string
        bbfcRating:
          description: The video's British Board of Film Classification (BBFC) rating.
          enum:
          - bbfcUnspecified
          - bbfcU
          - bbfcPg
          - bbfc12a
          - bbfc12
          - bbfc15
          - bbfc18
          - bbfcR18
          - bbfcUnrated
          title: bbfcRating
          type: string
        bfvcRating:
          description: The video's rating from Thailand's Board of Film and Video
            Censors.
          enum:
          - bfvcUnspecified
          - bfvcG
          - bfvcE
          - bfvc13
          - bfvc15
          - bfvc18
          - bfvc20
          - bfvcB
          - bfvcUnrated
          title: bfvcRating
          type: string
        bmukkRating:
          description: The video's rating from the Austrian Board of Media Classification
            (Bundesministerium für Unterricht, Kunst und Kultur).
          enum:
          - bmukkUnspecified
          - bmukkAa
          - bmukk6
          - bmukk8
          - bmukk10
          - bmukk12
          - bmukk14
          - bmukk16
          - bmukkUnrated
          title: bmukkRating
          type: string
        catvRating:
          description: Rating system for Canadian TV - Canadian TV Classification
            System The video's rating from the Canadian Radio-Television and Telecommunications
            Commission (CRTC) for Canadian English-language broadcasts. For more information,
            see the Canadian Broadcast Standards Council website.
          enum:
          - catvUnspecified
          - catvC
          - catvC8
          - catvG
          - catvPg
          - catv14plus
          - catv18plus
          - catvUnrated
          - catvE
          title: catvRating
          type: string
        catvfrRating:
          description: The video's rating from the Canadian Radio-Television and Telecommunications
            Commission (CRTC) for Canadian French-language broadcasts. For more information,
            see the Canadian Broadcast Standards Council website.
          enum:
          - catvfrUnspecified
          - catvfrG
          - catvfr8plus
          - catvfr13plus
          - catvfr16plus
          - catvfr18plus
          - catvfrUnrated
          - catvfrE
          title: catvfrRating
          type: string
        cbfcRating:
          description: The video's Central Board of Film Certification (CBFC - India)
            rating.
          enum:
          - cbfcUnspecified
          - cbfcU
          - cbfcUA
          - cbfcA
          - cbfcS
          - cbfcUnrated
          title: cbfcRating
          type: string
        cccRating:
          description: The video's Consejo de Calificación Cinematográfica (Chile)
            rating.
          enum:
          - cccUnspecified
          - cccTe
          - ccc6
          - ccc14
          - ccc18
          - ccc18v
          - ccc18s
          - cccUnrated
          title: cccRating
          type: string
        cceRating:
          description: The video's rating from Portugal's Comissão de Classificação
            de Espect´culos.
          enum:
          - cceUnspecified
          - cceM4
          - cceM6
          - cceM12
          - cceM16
          - cceM18
          - cceUnrated
          - cceM14
          title: cceRating
          type: string
        chfilmRating:
          description: The video's rating in Switzerland.
          enum:
          - chfilmUnspecified
          - chfilm0
          - chfilm6
          - chfilm12
          - chfilm16
          - chfilm18
          - chfilmUnrated
          title: chfilmRating
          type: string
        chvrsRating:
          description: The video's Canadian Home Video Rating System (CHVRS) rating.
          enum:
          - chvrsUnspecified
          - chvrsG
          - chvrsPg
          - chvrs14a
          - chvrs18a
          - chvrsR
          - chvrsE
          - chvrsUnrated
          title: chvrsRating
          type: string
        cicfRating:
          description: The video's rating from the Commission de Contrôle des Films
            (Belgium).
          enum:
          - cicfUnspecified
          - cicfE
          - cicfKtEa
          - cicfKntEna
          - cicfUnrated
          title: cicfRating
          type: string
        cnaRating:
          description: The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI
            (CNA).
          enum:
          - cnaUnspecified
          - cnaAp
          - cna12
          - cna15
          - cna18
          - cna18plus
          - cnaUnrated
          title: cnaRating
          type: string
        cncRating:
          description: Rating system in France - Commission de classification cinematographique
          enum:
          - cncUnspecified
          - cncT
          - cnc10
          - cnc12
          - cnc16
          - cnc18
          - cncE
          - cncInterdiction
          - cncUnrated
          title: cncRating
          type: string
        csaRating:
          description: The video's rating from France's Conseil supérieur de l’audiovisuel,
            which rates broadcast content.
          enum:
          - csaUnspecified
          - csaT
          - csa10
          - csa12
          - csa16
          - csa18
          - csaInterdiction
          - csaUnrated
          title: csaRating
          type: string
        cscfRating:
          description: The video's rating from Luxembourg's Commission de surveillance
            de la classification des films (CSCF).
          enum:
          - cscfUnspecified
          - cscfAl
          - cscfA
          - cscf6
          - cscf9
          - cscf12
          - cscf16
          - cscf18
          - cscfUnrated
          title: cscfRating
          type: string
        czfilmRating:
          description: The video's rating in the Czech Republic.
          enum:
          - czfilmUnspecified
          - czfilmU
          - czfilm12
          - czfilm14
          - czfilm18
          - czfilmUnrated
          title: czfilmRating
          type: string
        djctqRating:
          description: The video's Departamento de Justiça, Classificação, Qualificação
            e Títulos (DJCQT - Brazil) rating.
          enum:
          - djctqUnspecified
          - djctqL
          - djctq10
          - djctq12
          - djctq14
          - djctq16
          - djctq18
          - djctqEr
          - djctqL10
          - djctqL12
          - djctqL14
          - djctqL16
          - djctqL18
          - djctq1012
          - djctq1014
          - djctq1016
          - djctq1018
          - djctq1214
          - djctq1216
          - djctq1218
          - djctq1416
          - djctq1418
          - djctq1618
          - djctqUnrated
          title: djctqRating
          type: string
        djctqRatingReasons:
          description: Reasons that explain why the video received its DJCQT (Brazil)
            rating.
          items:
            enum:
            - djctqRatingReasonUnspecified
            - djctqViolence
            - djctqExtremeViolence
            - djctqSexualContent
            - djctqNudity
            - djctqSex
            - djctqExplicitSex
            - djctqDrugs
            - djctqLegalDrugs
            - djctqIllegalDrugs
[...]
